@page "/"
@using System.Text.Json

<br/>
<div class="row">
    <div class="col-md-8">
        <h3>Datepicker</h3>
        <br/>
        <div class="row">
            <div class="form-group col-sm-8">
                <label class="col-form-label">
                    Date (English - United Kingdom):
                    <AbDatepicker Value="Date" Options="Options"></AbDatepicker>
                </label>
            </div>
            <div class="form-group col-sm-8">
                <code>
                    @JsonSerializer.Serialize(Options, new JsonSerializerOptions{ PropertyNamingPolicy = JsonNamingPolicy.CamelCase, })
                </code>
            </div>
        </div>
        <br/>
        <p>@Date.ToShortDateString()</p>
    </div>
    <div class="col-md-4">
        <h3> Options</h3>
        <div class="row">
            <div class="form-group">
                <label class="col-form-label">
                    Themes:
                    <select @bind="Options.Theme" 
                             class="form-control">
                        @foreach (var ffe in Enum.GetValues(typeof(Theme)))
                        {
                            <option value="@ffe">@ffe</option>
                        }
                    </select>              
                    </label>
            </div>
        </div>
    </div>

</div>

@code {

    private DateTime Date { get; set; } = DateTime.Now.Date;
    private AdDatepickerOptions Options { get; set; } = new AdDatepickerOptions();


}
